.label {
  display: inline-block;
  width: 85px;
}
.footer {
  border-top: 1px solid #eeeeee;
}
.el-row h3 {
  margin: 10px 0 5px 0;
}
.money {
  color: #e4393c;
  font-size: 15px;
}
.footer-tip {
  margin-top: 10px;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}
.nomal-tips {
  font-size: 12px;
  font-weight: normal;
  color: #6e6e6e;
}